using android device
accelerometer and gyroscope of phone
3d


control the spaceship/character using gyroscope


5 mins - gameplay (word search)


3 mins -assessment

9 levels

Sun - word search
Mercury - Maze


Every friday checking

July end semester
thesis A 70%


